@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula;
}

@plugin "daisyui/theme" {
  name: "dracula";
  default: true;
  --color-primary: #f3a50a;
  --color-secondary: #d6cca9;
}

@theme {
  --font-header: Lato, sans-serif;
  --font-body: Roboto, sans-serif;
  --font-weight-700: 700;
  --font-weight-500: 500;
}

.text-header {
  @apply text-5xl lg:text-7xl font-header font-700;
}

.text-nav {
  @apply text-xl font-header;
}

.text-body {
  @apply text-lg lg:text-2xl font-body text-zinc-300 leading-9;
}

.text-description {
  @apply text-xl font-body font-500;
}

.project-title {
  @apply text-4xl lg:text-5xl font-header font-700;
}
